.radio-group {
  display: flex;
  flex-direction: column;
}

.div-action {
  display: flex;
  justify-content: space-between;
}

#screen-lock {
  position: absolute;
  width: 100%;
  height: 130%;
  background: #000000ba;
  top: -15%;
  bottom: -15%;
}
